.dropdown{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dropdownContent{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    margin-bottom: 0;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    display: block;
}
.dropdownButton{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.dropdownItem{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    display: block;
    padding: 6px 12px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdownItem:hover{
    background-color: #eee;
    color: #333;
}
.hidden{
    display: none;
}