:root {
  /* --text-color: #000;
  --background-color: rgb(246, 89, 0); */
  --text-color: white;
  --background-color: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.calc-container {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 50vh;
  font-size: 2rem;
  padding: 0 1rem;
  border: 2px solid rgb(118, 118, 118);
  outline: none;
}

.output {
  width: 50%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  align-items: flex-start;
  background-color: white;
  color: black;
  border-radius: 3rem;
  font-size: 2.5rem;
  border: 2px solid rgb(118, 118, 118);
  outline: none;
  white-space: pre-wrap;
  flex-wrap: wrap;
  position: relative;
}
.output-text {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}


.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-content {
  width: calc(100vw - 10rem);
  margin-left: auto;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 2rem;
  outline: none;
  white-space: pre-wrap;
}

.page-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1000;
  transition: all 0.5s ease;
}

.hidden {
  display: none;
}


.switch {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  border: 2px solid rgb(118, 118, 118);
  border-radius: 3rem;
  position: relative;
  user-select: none;
  padding: .5rem;
}

.switch.left {
  flex-direction: row-reverse;
}

.switch-item {
  height: 5rem;
  aspect-ratio: 1/1;
  display: flex;
  background-color: black;
  border-radius: 50vh;
  outline: none;
  box-sizing: border-box;
}


.title-box{
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.content-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.input-box{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  outline: none;
  position: relative;
}
.input-box-content{
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 2rem;
  border: 2px solid rgb(118, 118, 118);
  outline: none;
  border-radius: 3rem;
  position: relative;
}
.no-border{
  border: none;
}
.input-box-content.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
}
.input.custom{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  position: relative;
  padding: 0 1rem;
}
.icon{
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red;
  font-size: 1.5rem;
  outline: none;
  border-radius: 50vh;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  border: .5rem solid transparent;
}
.icon:hover{
  background-color: red;
  color: white;
}
.vdot-text{
  font-size: 3.75rem;
  text-align: right;
  position: absolute;
  top: 2rem;
  right: 2rem;

}
.error{
  color: black;
  background-color: red;
  /* background-color: white; */
  position: absolute;
  /* transform: translate(0, 2rem); */
  padding: 0.5rem;
  border-radius: 1rem;
  z-index: 1000;
  font-size: 1.25rem;
}
.error::before{
  content: "";
  position: absolute;
  top: -0.75rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 0.75rem solid red;
}

.vdot-output{
  align-content: center;
  justify-content: center;
}